.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(13, 24, 122, 0.87);
    padding:0.5rem;
    z-index: 999;
}
.arrow-icon{
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
    animation: scroll .6s linear infinite alternate-reverse;
    transition: .8s all ease-in-out;
}
@keyframes scroll{
    0%{
        transform: translateY(-0.4rem);
    }
    100%{
        transform: translateY(0.3rem);
    }
}

@media only screen and (max-width:768px){
    .arrow{
        width:3rem;
        height: 3rem;
        bottom: 2rem;
        right:3rem;
    }
    .arrow-icon{
        width: 2rem;
        height: 2rem;
    }
}


