@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Mulish , Poppins;
} 

body{
    background-color: #55555529;
    overflow-x: hidden;
}

.container{
    max-width: 70rem;
    width:100%;
    margin: 0 auto;
    padding:1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-container{
    font-size: 0.6rem;
    background-color:#49524e6b;
    border-radius: 0.5rem;
    min-width: 10rem;
    max-width: 14rem;
    height:23rem;
    margin: 2rem auto;
    box-shadow: 0px 1px 5px 2px rgb(32 33 36 / 28%);
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding:1.3rem 3.5rem 1.5rem;
    transition: all 0.8s ease;
    position: relative;
}

.heading{
    width:10rem;
    height:8rem;
    padding-top: 1.2rem;
    position: relative;
}

.heading h2{
    transition: all 0.8s ease;
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
}
.movie-image{
    padding-top: 0.8rem;
    min-width: 12rem;
    position: relative;
}
.movie-image img{
    transition: all 0.8s ease;
    object-fit: cover;
    border-radius: 0.5rem;
    max-width: 12rem;
}
/* adding hover effects */
.movie-container:hover{
    background-color: rgba(51, 76, 59, 0.759)
}

.movie-container:hover img{
    transform: scale(1.05);
}

.movie-container:hover .heading h2{
    color: #fff;
    transform: translateY(-.5rem);
}
/* css for search bar */
.search-container{
    border-radius: 2rem;
    max-width: 20rem;
    margin: 3rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container form{
    width: 100%;
}

.search-bar input{
    width:100%;
    padding:.8rem 1.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px rgb(32 33 36 / 28%);
}

.search-bar input::placeholder{
    color:rgb(174, 169, 162);
    letter-spacing: .05rem;
}

.search-bar input[type="text"]{
    color:rgb(174, 169, 162);
    letter-spacing: .05rem;
}

.search-bar input:hover{
    box-shadow: 2px 2px 6px rgb(32 33 36 / 28%);

}

form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    text-align: center;
}

.grid{
    flex-wrap:wrap;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4 , 1fr);
}
/* css for singlemoviepage */
.single-movie-container{
    font-size: 0.8rem;
    background-color:#49524e6b;
    border-radius: 1.5rem;
    max-width: 30rem;
    margin: 5rem auto;
    box-shadow: 0px 1px 5px 2px rgb(32 33 36 / 28%);
    width: 100%;
    display: flex;
    gap:3rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
    transition: all 0.8s ease;
    position: relative;
}

.description{
    font-size: 0.8rem;
    padding:2rem 3rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}

.button{
    margin-top: 3rem;
    background-color: rgba(29, 88, 103, 0.322);
    max-width: 15rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem 1.1rem;
    text-align: center;
    cursor: pointer;
    color:#fff;
    transition: all 0.8s ease;
    text-decoration: none;
    animation: shake .8s ease-in 5s 1;
    box-shadow: 1px 1px 8px rgba(100, 103, 104, 0.322);
}

@keyframes shake{
    0%{
        transform: scale(1.1) rotate(0);        
    }
    12%, 36%,60%,84%{
        transform: scale(1.1) rotate(10deg);
    }
    24%,48%,72%,98%{
        transform: scale(1.1) rotate(-10deg);
    }
    100%{
        transform:scale(1);
    }
}

.button:hover{
    background-color: rgba(37, 168, 200, 0.322);

}

.text-center{
    text-align: center;
    opacity: .8;
}

.spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spin{
    margin-left: 6rem;
}

.column{
    flex-direction: column;
}

.center-2{
    text-align: center;
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
}

.center-2 h4{
    display: none;
}

.center-2 img{
    width: 100%;
    position: relative;
    top:-5rem;
}

.center{
    text-align: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.search-container p{
    color: red;
    margin-top: 1rem;
}

hr{
    margin-top: 2rem;
    color: rgb(70, 64, 64);
    width: 100%;
    height:0.2rem;
    position: relative;
}

/* making responsive */
@media  only screen and (max-width: 998px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media  only screen and (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media  only screen and (max-width: 500px) {
    .grid{
        grid-template-columns: 1fr;
        gap:none;
    }
    .movie-container{
        max-width:24rem;
        height: auto;
    }
    .movie-image{
        max-width: 20rem;
        padding-left: 1rem;
    }
    .movie-image img{
        max-width: 13rem;
        object-fit: cover;
        width: 100%;
    }
    .heading{
        height:3rem;
    }
    .single-movie-container{
        max-width: 25rem;
        min-width: 15rem;
        align-items: center;
    }
    .button{
        width: 9rem;
        text-align: center;
        margin-top: 1rem;
        padding: 0.6rem 0.5rem;
        font-size: 0.65rem;
    }
    .description{
        padding: 2rem 1rem 0 0;
    }
    
}

@media  only screen and (max-width: 376px) {
    .movie-container{
        width:20rem;
        height: auto;
    }
    .description{
        padding: 0;
    }
    .movie-image{
        padding-left: 0;
    }
    .movie-image img{
        max-width: 17rem;
        height: auto;
        object-fit: fill;
        width: 100%;
    }
    .single-movie-container{
        display: grid;
        max-width: 20rem;
        padding: 2rem;
        margin: 3rem auto;
    }
    .button{
        text-align: center;
        margin: 1rem auto;
        width:10rem;
        margin-top: 1rem;
        padding: 0.6rem 1rem;
    }
}

@media  only screen and (max-width: 324px) {
    .movie-container{
        width:17rem;
        height: auto;
    }
    .movie-image img{
        width: 13rem;
        object-fit: fill;
    }
    .single-movie-container{
        max-width: 16rem;
        padding: 1.5rem;
        width: 100%;
        margin: 3rem auto;
    }
    .search-bar{
        max-width: 16rem;
        min-width: 14rem;
        margin: 0 auto;
    }
    .search-bar input{
        padding : 0.7rem 1.5rem;
    }
    .button{
        width:10rem;
        margin-top: 1rem;
        padding: 0.6rem 1rem;
        font-size: 0.65rem;
    }
}

